__pycache__/
*.py[cod]
*$py.class
*.idea

# ignore tf model files and logs
log/
*.log
*.meta
*.index
checkpoint
*.data*
*.npz

# check-in only .py files in datasets folder
datasets/**/*.*
datasets/**/README
!datasets/**/*.py

# fcn/spike.py
fcn/spike.py
