__pycache__/
*.py[cod]
*$py.class
*.idea

# ignore tf model files and logs
log/
*.log
*.meta
*.index
checkpoint
*.data*
*.npz
*.tar.bz2
*.tar.gz

# ignore latex files
*.aux
*.synctex.gz
*.out
*.pdf
*.dvi
*blx.bib
*.bbl
*.bcf
*.blg
*.run.xml


# ignore .env file
.env
