[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

numpy = "*"
matplotlib = "*"
scipy = "*"
unicodecsv = "*"
pandas = "*"
seaborn = "*"
sklearn = "*"
imageio = "*"
tensorflow-gpu = "*"
tqdm = "*"
vapk = {git = "https://github.com/andrijazz/vapk.git", editable = true}


[requires]

python_version = "3.5"
