ray==2.34.0
wandb==0.17.6
accelerate==0.33.0

# ml utils
transformers==4.44.0
einops
torchgeometry
pytorch-fid
kornia

# utils
scikit-learn
pandas
future
requests==2.31.0
matplotlib==3.7.1
imutils==0.5.4
tqdm==4.65.0
fastapi==0.97.0
yapf==0.40.1
aiohttp==3.8.4
gymnasium==0.29.1
gymnasium[atari]
gymnasium[classic_control]
